boto3==1.24.40
Flask==2.2.2
opentelemetry-distro==0.36b0
opentelemetry-exporter-otlp==1.12.0rc2
opentelemetry-api==1.12.0rc2
opentelemetry-instrumentation-flask==0.32b0
opentelemetry-instrumentation-requests==0.36b0
opentelemetry-instrumentation-botocore==0.36b0
opentelemetry-sdk-extension-aws==2.0.1
opentelemetry-propagator-aws-xray==1.0.1
protobuf==3.20.2
PyYAML==6.0
requests==2.28.1
