# Service account specifies identity of pod processes for authentication.
{{- if .Values.fluentbit.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.fluentbit.name }}
  namespace: {{ include "aws-for-fluent-bit.namespace" . }}
{{- end }}
