* @aws-observability/adot-collector-maintainers

sample-apps                           @aws-observability/aws-application-signals-maintainers
sample-apps/prometheus-sample-app     @aws-observability/adot-collector-maintainers
