version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions-deps:
        patterns:
          - "*"
  - package-ecosystem: "gomod"
    directory: "/sample-apps/go-sample-app"
    schedule:
      interval: "weekly"
      day: sunday
    groups:
      go-sample-app-deps:
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    directory: "/sample-apps/java-sample-app"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      java-sample-app-deps:
        patterns:
          - "*"
  - package-ecosystem: 'npm'
    directory: '/sample-apps/javascript-sample-app'
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      js-sample-app-deps:
        patterns:
          - "*"
  - package-ecosystem: "gomod"
    directory: "/sample-apps/prometheus-sample-app"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      prom-sample-app-deps:
        patterns:
          - "*"
  - package-ecosystem: "pip"
    directory: "/sample-apps/python-auto-instrumentation-sample-app"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      python-auto-sample-app-deps:
        patterns:
          - "*"
  - package-ecosystem: "pip"
    directory: "/sample-apps/python-manual-instrumentation-sample-app"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      python-manual-sample-app-deps:
        patterns:
          - "*"
  - package-ecosystem: "bundler"
    directory: "/sample-apps/ruby-rails-sample-app"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      ruby-sample-app-deps:
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    directory: "/centralized-sampling-tests/integration-tests"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      centralized-integration-deps:
        patterns:
          - "*"
  - package-ecosystem: "gomod"
    directory: "/centralized-sampling-tests/sample-apps/golang-http-server"
    schedule:
      interval: "weekly"
      day: sunday
    groups:
      centralized-golang-gomod-deps:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/centralized-sampling-tests/sample-apps/golang-http-server"
    schedule:
      interval: "weekly"
      day: sunday
    groups:
      centralized-golang-docker-deps:
        patterns:
          - "*"
  - package-ecosystem: "gradle"
    directory: "/centralized-sampling-tests/sample-apps/spring-boot"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      centralized-spring-gradle-deps:
        patterns:
          - "*"
  - package-ecosystem: "docker"
    directory: "/centralized-sampling-tests/sample-apps/spring-boot"
    schedule:
      interval: "weekly"
      day: "sunday"
    groups:
      centralized-spring-docker-deps:
        patterns:
          - "*"
