<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Logs are in the format of Service Lens: https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-java-configuration.html#xray-sdk-java-configuration-logging -->
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %notEmpty{AWS-XRAY-TRACE-ID: %X{AWS-XRAY-TRACE-ID} }%-5p %m%n"/>
        </Console>
        <File name="File" fileName="/var/tmp/app-trace.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS}{GMT} [%t] %notEmpty{AWS-XRAY-TRACE-ID: %X{AWS-XRAY-TRACE-ID} }%-5p %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
