boto3==1.26.45
Flask==2.2.2
opentelemetry-distro==0.36b0
opentelemetry-exporter-otlp==1.15.0
opentelemetry-api==1.12.0
opentelemetry-instrumentation-flask==0.36b0
opentelemetry-instrumentation-requests==0.36b0
opentelemetry-instrumentation-botocore==0.36b0
opentelemetry-sdk-extension-aws==2.0.1
opentelemetry-propagator-aws-xray==1.0.1
protobuf==4.22.0
PyYAML==6.0
requests==2.28.1
